.todo-item-container {
  background: #fff;
  border-radius: 8px;
  margin-top: 8px;
  padding: 16px;
  position: relative;
  box-shadow: 0 4px 8px grey;
}
button {
  font-size: 16px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  display: inline-block;
}

.completed-button {
  background-color: #81db81;
}
.remove-button {
  background-color: #f16262;
  margin-left: 8px;
}

.button-container {
  position: absolute;
  right: 12px;
  bottom: 12px;
}
